.sidenav-main{
    display: flex;
    flex: 0 0 280px;
    max-width: 280px;
    flex-direction: column;
    width: 16.66%;
    padding-right:10px;
}
.sidenav-inner{
    display: flex;
    width: 100%;
    flex-direction: column;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, .06);
    background: #fff;
}

.sidenav-options-wrap{
    padding: 16px;
    border-bottom: 1px solid #f0f0f0;
    display: flex;
    flex-direction: column;
}
.options-side-head-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: -16px;
    padding: 16px;
}
.options-h1{
    font-size: 13px;
    font-weight: 500;
    letter-spacing: .3px;
    display: inline-block;
    font-family: 'semibold';
    color: rgb(33, 33, 33);
    text-transform: uppercase;
}
.options-side-head-wrap svg{
   display: inline-block;
    cursor: pointer;
    width: 6px;
    height: 11px;
    transform: rotate(-90deg);
    fill: #878787;
}
.expandedside-wrap{
    display: flex;
    flex-direction: column;
    margin: 7px 0;
}
.label-expandable{
    padding: 6px 0;
    width: 100%;
    position: relative;
    display: block;
}
.input-karo-bhai {
  position: absolute;
  opacity: 0; 
  cursor: pointer;
  width: 14px;  
  height: 14px;
  margin: 0;
  z-index: 2; 
}
.option-ticked{
        position: relative;
        width: 14px;
        height: 14px;
        background-color: transparent;
        border: 1.4px solid #c2c2c2;
        border-radius: 1.5px;
        box-sizing: border-box;
        display: inline-block;
        vertical-align: middle;
}
.option-text{
    vertical-align: middle;
    font-size: 14px;
    padding-left: 11px;
    color: #212121;
    display: inline-block;
    width: calc(100% - 14px - 11px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1;
    cursor: pointer;
    font-family: 'regular';
} 
.option-ticked::before {
  content: "";
  position: absolute;
  left: 5px;
  top: 2px;
  width: 2px;
  height: 6px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  backface-visibility: hidden;
  display: none;
}
.input-karo-bhai:checked + .option-ticked::before {
  display: block;
}
.input-karo-bhai:checked + .option-ticked {
  background-color: #2874f0;
  border-color: #2874f0;
}