.ss-sort-wrap{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    padding-bottom: 24px;
}
.sortBy-title{
    color: rgba(135,135,135,1.00);
    margin: 12px;
    font-size: 14px ;
    font-family: 'regular';
    line-height: normal;
    text-align: left;
}
.popularity-wrap-ss{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
    margin-right: 8px;
}
.popularity-head-inner{
    padding-right: 12px;
    padding-left: 12px;
    padding-top: 6px;
    padding-top: 6px;
    font-size: 14px;
    font-family: Roboto Medium,Roboto-Medium,Droid Sans,HelveticaNeue-Medium,Helvetica Neue Medium,sans-serif-medium;
    color: black;
}
.bullet-wrap{
    margin-right: 8px;
    margin-top: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}


